<h1>I'm the home page!</h1>

<p>Today it's <strong><%= Time.now %></strong></p>

<% turtles = ['leonardo', 'michelangelo', 'donatello', 'raphael'] %>

<h2>Meet our ninjas</h2>
<ul>
  <% turtles.each do |turtle| %>
    <li>
      <%= turtle.capitalize %>
    </li>
  <% end %>
</ul>
